.popup {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  z-index: 99999999999999;
  box-shadow: 0 0 8px 1px rgba(7, 10, 25, 0.2);
  position: fixed;
  display: none;
  height: 0%;
  bottom: 10px;
  left: auto;
  right: auto;
  background: var(--popup-bg);
  overflow-y: auto;
}

.open {
  max-height: 70vh;
  height: fit-content;
  display: block;
  animation: swipeup 0.3s ease;
}
