.card-category-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 80px 0;
}

.card-category-content {
  box-shadow: 2px 2px 5px rgb(160, 160, 160);
  border: 1px solid #ffffff;
  border-radius: 10px;
  margin: 20px;
  padding: 10px 0px 0px 0px;
  width: 200px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card_img img {
  align-self: center;
}

.card_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card_text h2 {
  font-size: large;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  margin-top: 30px;
}

.card_text h3 {
  font-size: large;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
}

.card_bottom {
  width: 200px;
  background-color: #ffd615;
  border-radius: 10px;
  text-align: center;
  color: #ff1f5a;
}

.card_bottom_fade {
  width: 200px;
  background-color: #5d5d5a;
  border-radius: 10px;
  text-align: center;
  color: #5d5d5a;
}

@media screen and (max-width: 900px) {
  .free__container {
    margin: 0 6%;
  }
}

@media screen and (max-width: 700px) {
  .free__container {
    margin: 0 4%;
  }
  .card-category-main {
    justify-content: center;
  }
}

@media screen and (max-width: 550px) {
  .free__container {
    margin: 0 3%;
  }
}

@media screen and (max-width: 450px) {
  .free__container {
    margin: 0 2%;
  }
}

@media screen and (max-width: 380px) {
  .free__container {
    margin: 0 1%;
  }
}
